In [52]:
import numpy as np
import pandas as pd

In [53]:
f = open("wordnet-mlj12-definitions.txt","r")

In [54]:
lines = f.readlines()
f.close()

In [56]:
cleaned = [ (lambda i: [i[0], (i[1].split('_'))[-2], (int)((i[1].split('_'))[-1]) ] )(i.split('\t')) for i in lines]

In [57]:
df = pd.DataFrame(cleaned, columns=['id','POS_tag','sense'])

In [58]:
set(df.POS_tag)

{'JJ', 'NN', 'RB', 'VB'}

In [59]:
a = list(set(df.sense))
a.sort()

In [60]:
df.to_csv("WN18RR_tags_mlj13.csv")

In [61]:
df

             id POS_tag  sense
0      14854262      NN      2
1      00590383      NN      1
2      08769179      NN      1
3      02338145      NN      1
4      01990168      VB      2
...         ...     ...    ...
40938  03372656      NN      1
40939  01107359      NN      2
40940  05578740      NN      1
40941  02040113      NN      1
40942  10227266      NN      3

[40943 rows x 3 columns]

In [74]:
from tqdm import tqdm
mapping = {'JJ':0, 'NN':1, 'RB':2, 'VB':3}
labels = []
for row in tqdm(df.iterrows()):
    val = row[1]
    labels.append([val['id'],mapping[val['POS_tag']],val['sense']])

40943it [00:03, 10516.77it/s]

In [72]:
v.sort(key=lambda x: x[0])

In [71]:
labels

[[1, 2], [2, 4]]